#filter {
    box-sizing: border-box;
    font-size: var(--font-size-primary);
}

.filter__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter__container-body {
    width: 96%;
    display: flex;
    flex-direction: row;
    /* margin-left:; */
    box-sizing: border-box;
}


/* Filter bar */

.filter-bar {
    margin: 1.6rem 0rem;
    min-width: 200px;
    background-color: #fff;
    padding: 4rem 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: FilterBar 0.4s ease;
}

@keyframes FilterBar {
    from {
        left: -22rem;
    }
    to {
        left: 0;
    }
}

.filter-bar>.filter-bar__title {
    width: 100%;
    font-size: var(--fontsize__big-pc);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
}

.filter-bar>div {
    margin: 3rem 0rem 0rem 1rem;
}

.filter-bar>div>h3 {
    font-size: var(--fontsize__normal-pc);
    margin-bottom: 1rem;
}

.filter-bar>div>ul>li {
    padding: 0.5rem 1rem;
}


/* filter display */

.filter-display {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 1.6rem 0rem 2rem 2rem;
    position: relative;
    box-sizing: border-box;
}

.filter__products {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
    /* margin-left: 4rem; */
    padding: 2rem 0rem 10rem 0rem;
    margin-left: 4rem;
    justify-content: center;
}

.filter__sort {
    margin-top: 3rem;
    margin-left: 2rem;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.filter__sort>select {
    padding: 1rem;
    border-radius: 0.4rem;
    outline: none;
    border: 1px solid #ccc;
    font-size: 1.6rem;
}

.filter__sort>select>option {
    padding: 0.2rem;
}

.pagation {
    position: absolute;
    left: 48%;
    bottom: -2rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--fontsize__normal-pc);
    height: 5rem;
    margin: 3rem;
}

.pagation>ul {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagation>ul>li {
    padding: 0rem 0.6rem;
}


/* filter icon */

.filter__icon-open {
    position: absolute;
    left: 0;
    top: 20rem;
    width: 3.6rem;
    height: 8rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* filter icon close */

.filter__icon-close {
    position: absolute;
    top: 6.7rem;
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid #ccc;
    left: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    z-index: 10000;
    animation: IconClose 0.4s ease;
    display: none;
}

@keyframes IconClose {
    from {
        left: 0;
    }
    to {
        left: 22rem;
    }
}

.filter__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.2;
    z-index: 100;
}

.filter__icon-open {
    display: none;
}

.none {
    display: none !important;
}

.block {
    display: block !important;
}


/* responsive */

@media only screen and (max-width: 1023px) {
    .filter__products {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        min-width: 16rem;
    }
    .filter-bar {
        display: none;
        position: absolute;
        left: 0;
        top: 5rem;
        z-index: 1000;
    }
    .filter__icon-open {
        display: flex;
    }
    .filter__icon-close {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .filter__products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .filter__products {
        grid-template-columns: repeat(1, 1fr);
    }
}