/* HEADER CSS */

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar > ul {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  font-size: 1.8rem;
  margin: 0px 10px;
  padding: 10px 20px;
  font-weight: 600;
}

nav > ul > li:hover {
  color: red;
}

/* <---> */

.header__left {
  font-size: 4rem;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__right-icon {
  padding: 8px;
  margin: 0px 2px;
}

.header__right-icon:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 100%;
}

.cart {
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  top: 50px;
  width: 460px;
  /* background-color: #ccc; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 640px;
  z-index: 1000;
  background-color: #fff;
}

.cart__header {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart__header > h2 {
  flex-grow: 1;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.cart__body {
  height: 480px;
  overflow-y: scroll;
}

.cart__body::-webkit-scrollbar {
  display: none;
}

.cart__checkout {
  background-color: #000;
  width: 100%;
  height: 6rem;
  margin-top: 2rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.cart__item > img {
  width: 100px;
  height: 120px;
  object-fit: cover;
}

.cart__item {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  height: 120px;
  /* padding-bottom: 10px; */
  /* border-bottom: 1px solid #ccc; */
}

.cart__item-desc {
  height: 120px;
  padding: 0px 20px 0px 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
}

.cart__item-desc > h2,
.cart__item-desc-price {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 4px 0px;
  font-weight: 600;
}

.cart__item-quantity {
  padding: 6px 4px;
  font-size: 1.6rem;
  font-weight: 600;
  color: red;
}

.cart__item-quantity > span {
  margin-right: 8px;
}

.cart__item-delete {
  /* margin-right: 10px; */
  display: inline-block;
}

.empty-cart {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.product__order > .cart__item > .cart__item-delete {
  display: none;
}

/* END HEADER CSS */

/* START TYPE CSS */

@keyframes Text {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 30%;
  }
}

@keyframes TitleIn {
  from {
    top: 70%;
  }
  to {
    top: 50%;
  }
}

@keyframes TitleOut {
  from {
    top: 50%;
  }
  to {
    top: 70%;
  }
}

@keyframes hoverImageIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes hoverImageOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes hoverTypeItem {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.3;
  }
}

#type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.type__container {
  display: flex;
  width: 86vw;
  height: 100%;
  margin-left: -20px;
}

.type__item {
  border-radius: 8px;
  position: relative;
  min-width: 28rem;
  width: calc(100% / 3);
  height: 100%;
  margin-left: 20px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.1;
  z-index: 1;
}

.type__item:hover > .overlay {
  animation: hoverTypeItem 0.6s ease;
  cursor: pointer;
  opacity: 0.3;
}

.type__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: hoverImageOut 0.6s ease;
}

.type__item:hover .type__item-image {
  animation: hoverImageIn 0.6s ease;
  transform: scale(1.2);
}

.type__item:hover .type__item-more {
  animation: Text 0.6s ease;
  bottom: 30%;
  color: rgba(0, 0, 0, 0, 8);
  opacity: 1;
  z-index: 3;
}

.type__item > .type__item-title {
  animation: TitleOut 0.6s ease;
}

.type__item:hover .type__item-title {
  animation: TitleIn 0.6s ease;
  top: 50%;
}

.type__item > p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  opacity: 0;
  font-weight: 700;
  text-decoration: underline;
}

.type__item > h2 {
  position: absolute;
  top: 70%;
  /* right:50%; */
  left: 50%;
  z-index: 100;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  opacity: 1;
  font-weight: 700;
}

/* Trending */

#train {
  display: flex;
  justify-content: center;
}

#train > .products__container {
  width: 86vw;
  height: auto;
}

.products__header {
  width: 86vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.products__header-title {
  font-size: 3.6rem;
  font-weight: 600;
}

.products__header-nav {
  margin-right: 7vw;
}

.products__header-nav > ul {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
}

.products__header-nav > ul > li {
  margin: 0px 10px;
  cursor: pointer;
}

.products__header-nav > ul > li:hover {
  color: red;
}

.products__body {
  width: 86vw;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px; */
}

/* .products__body::-webkit-scrollbar {
  display: none;
} */

/* Card */

@keyframes OptionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes OptionOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes CardImageIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes CardImageOut {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  min-width: 24rem;
  /* margin-bottom: 20px; */
}

.card > .card__image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  animation: CardImageOut 0.6s ease;
  overflow: hidden;
}

.card > .card__image-container {
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.card:hover .card__image {
  animation: CardImageIn 0.6s ease;
  transform: scale(1.1);
}

.overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
}

.card__option {
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: OptionOut 0.6s ease;
}

.card:hover .card__option {
  animation: OptionIn 0.6s ease;
  opacity: 1;
}

.card__option > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 4px 16px;
}

.card__option > a:hover {
  background-color: red;
}

.card__desc {
  color: #000;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.card__desc > h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 10px;
}

/* end Card */

/* categories */

.catelories {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.catelories__container {
  height: 320px;
  width: 86vw;
  display: flex;
  justify-content: space-between;
}

.catelories__container > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catelories__container > li > h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0px;
}

/* end categories */

/* Post */

.post {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__container {
  width: 86vw;
  margin-left: -20px;
  display: flex;
}

.post__item {
  min-width: 24rem;
  width: calc(100% / 3);
  margin-left: 20px;
  /* border-radius: 8px; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.post__item > img {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
  border-radius: 8px;
}

.post__item-type {
  display: block;
  margin: 10px 0px;
}

.post__item > .post__item-tilte {
  font-size: 2rem;
  font-weight: 600;
  margin: 16px 0px;
  overflow: hidden;
  max-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post__item-desc {
  margin: 16px 0px 26px;
  font-size: 1.4rem;
  opacity: 0.9;
  line-height: 2.2rem;
  max-height: 4.4rem;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.post__item > button {
  outline: none;
  font-size: 1.6rem;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  border: none;
  background-color: var(--primary-color);
}

/* Footer */

#footer {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.footer__container {
  width: 86vw;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}

.footer__title ~ ul {
  border-left: 1px solid #000;
}

.footer__title ~ ul > li {
  padding-left: 1rem;
  line-height: 2.4rem;
}

.footer__left-address {
  margin-top: 3rem;
}

.footer__left-address > ul > li {
  line-height: 2.4rem;
}
