:root {
    --primary-color: #0656ce;
    --secondary-color: rgb(204, 140, 21);
    --white-color: #fff;
    --space-top: 4rem;
    --margin-left-cart: 20px;
    --space-element: 1.4rem;
    --font-size-primary: 1.6rem;
    /* PC */
    --fontsize__big-pc: 2.8rem;
    --fontsize__normal-pc: 2rem;
    --fontsize__small-pc: 1.8rem;
    /* tablet */
    --fontsize__big-tab: 2.4rem;
    --fontsize__normal-tab: 1.8rem;
    --fontsize__small-tab: 1.6rem;
}